* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
.header {
    height: 400px;
}
.feed {
    height: 50vw;
    .panel {
        height: 100px;
    }
}

.newUsers {
    height: 25vw;
}
.following {
    height: 25vw;
}
.avatar {
    height: 236px;
    width: 304px;
    border-radius: 50%;
}

//Come back to this!!!
.col-sm-3 {
    padding: 0;
}
.col-sm-9 {
    padding: 0;
}
//Come back to this!!!

.border {
    border: 1px solid black;
}

@media all and (max-width: 768px) {
    .logo {
        text-align: center;
    }
}
