* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: rgba(147, 221, 230, 0.51);
}

.border {
  border: 1px solid black;
}

.white {
  color: white;
}

.chirp_photo {
  height: 160px;
  width: 205px;
  margin-top: 50px;
}

.panel {
  box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.5);
}

.header {
  height: 400px;
  margin: 25px;
}

.logo {
  color: #92DCE5;
}

.avatar {
  height: 205px;
  width: 205px;
  border-radius: 50%;
  margin-top: 50px;
}

.name_text {
  font-size: 30px;
}

.username_text {
  color: #bdbdbd;
  font-weight: bold;
}

.logout_button {
  margin-top: 20px;
  background-color: white;
  color: #92DCE5;
  border: none;
  font-size: 20px;
  float: right;
}

.logout_button:hover {
  background-color: #41d4e6;
  color: white;
}

.feed_panel {
  margin-left: 25px;
  margin-right: 0;
  margin-top: 25px;
  padding: 10px;
}

.feed {
  height: 400px;
  overflow: scroll;
}

.chirp_button {
  background-color: white;
  color: #92DCE5;
  border: 1px solid #CCCCCC;
}

.chirp_button:hover {
  background-color: #92DCE5;
  color: white;
  border: 1px solid #CCCCCC;
}

.others_panel {
  margin: 25px;
}

.others_header {
  color: #92DCE5;
  margin-top: 5px;
  padding-left: 10px;
}

.others_body {
  height: 400px;
  overflow: scroll;
}

.individual_users {
  height: 75px;
  padding-top: 15px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.61);
  word-wrap: break-word;
  font-size: 14;
  padding: 5px;
}

.username {
  font-size: 16px;
  font-weight: bold;
  color: #92DCE5;
}

.individual_chirps {
  height: 75px;
  padding-top: 15px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.61);
  word-wrap: break-word;
  font-size: 14;
  padding: 5px;
}

.newUsers {
  height: 25vw;
}

.following {
  height: 25vw;
}

.col-sm-3 {
  padding: 0;
}

.col-sm-9 {
  padding: 0;
}

@media all and (min-width: 768px) and (max-width: 834px) {
  .individual_chirps {
    height: 100px;
  }
}

@media all and (max-width: 768px) {
  .logo {
    text-align: center;
  }
  .individual_chirps {
    height: 100px;
  }
  .avatar {
    margin-top: 25px;
  }
  .feed_panel {
    margin: 25px;
  }
  .logout_button {
    margin-top: 10px;
    float: none;
  }
  .username_text {
    margin-top: -20px;
  }
  .header {
    height: 440px;
  }
  .feed {
    height: 200px;
  }
}
